<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>vue-clipboard demo</title>
    <style>

    </style>
  </head>
  <body>
    <div id="app">
      <div class="wrap">
        <input type="text" v-model="datacopy">
        <button v-clipboard:copy="datacopy" :success="copySucess" :error="copyError">
          copy
        </button>  
      </div>
      <div class="wrap">
        <input type="text" v-model="datacut">
        <button v-clipboard:cut="datacut">cut</button>  
      </div>
      
    </div>
    <script src="example.build.js"></script>
  </body>
</html>
